/*CSS pour la galerie photos*/
div.galerie {
  margin: 5px;
  border: 1px solid aliceblue;
  float: left;
  width: 180px;
}

div.galerie:hover {
  border: 1px solid #3498db;
}

div.galerie img {
  width: 100%;
  height: 90%;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}