.galerie{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 100%;
}
.galerie img {
  width: 350px;
  height: 100%;
  margin: 10px;
  border: solid aliceblue;
}

.galerie img:hover{
  border: solid blue ;
}

.galerie a{
  margin: 3px;
}